<div class="container" style="padding: 10px;align-self: center">
    <div class="jumbotron"
        style="background-image: url(https://wallpaperaccess.com/full/5651980.jpg);margin-top: 30px; padding: 150px;image-resolution: inherit">

        <h1 style="color: rgb(59, 2, 29);text-align: center">Hi!</h1>
        <h2 style="color: rgb(59, 2, 29);text-align: center">Welcome to my portfolio</h2>
        <p style="color: rgb(59, 2, 29);text-align: center">Easy way to create your amazing portfolio (By Pranav Sharma)...</p>
    </div>
</div>

<div class="container text-center my-5">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201802/portfolio.jpeg?FiDuEq_3VnAh8wxpLykw3aWI.eIslcbH" width="140" height="140" style="border-radius: 50%;" alt="roundimg">
            <h2>Portfolio Type 1</h2>
            <p>Create your own personalized porfolio...</p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201802/portfolio.jpeg?FiDuEq_3VnAh8wxpLykw3aWI.eIslcbH" width="140" height="140" style="border-radius: 50%;" alt="roundimg">
            <h2>Portfolio Type 2</h2>
            <p>Create your own personalized porfolio...</p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201802/portfolio.jpeg?FiDuEq_3VnAh8wxpLykw3aWI.eIslcbH" width="140" height="140" style="border-radius: 50%;" alt="roundimg">
            <h2>Portfolio Type 3</h2>
            <p>Create your own personalized porfolio...</p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

</div>